*.log
mix-manifest.json
.env.json
/node_modules/

# libraries
#/assets/libraries/fontawesome-pro
/assets/libraries/selectize.js-master
#/assets/libraries/slick
/assets/libraries/icomoon
#/assets/fonts
