// ARCHIVE SPECIFIC STYLING

.archive article {
	margin-bottom: $row-margin;

	// Desktop/Full
	@include medium-screen-up {
		margin-bottom: $section-margin;
	}

	+ article {
		border-top: $default-border-width solid $black;
		padding-top: $row-margin;

		// Desktop/Full
		@include medium-screen-up {
			padding-top: $section-margin;
		}
	}

}

//Load more button
.bis-load-more-wrapper {
	border-top: $default-border-width solid $black;
	padding-top: $row-margin;
	margin-bottom: $section-margin;

	@include medium-screen-up {
		padding-top: $section-margin;
		margin-bottom: $section-margin-large;
	}

	button {
		//
	}
}
