// OBJECTS - POST NAVIGATION

nav.previous-next {
	border-top: 0.1rem solid $light-grey;
	padding-top: $section-margin;
	margin-top: $section-margin;
	margin-bottom: $section-margin-large;
	display: flex;
	font-size: $base-font-size;
	font-family: $fonts-secondary;

	a {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 700;
		color: $grey;

		i {
			margin-right: 0.5em;
		}
	}

	a[rel=next] {
		margin-left: auto;

		i {
			margin-left: 0.5em;
		}
	}
}
