// COMPONENTS - BUTTONS

button, .button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.wp-block-button .wp-block-button__link {
	display: inline-block;
	padding: 0.85rem 3.8rem;
	text-align: center;
	background: transparent;
	border: $default-border-width solid $black;
	border-radius: 5rem;
	color: $black;
	font-family: $fonts-secondary;
	font-size: $small-font-size;
	font-weight: 700;
	cursor: pointer;
	@include transition;
	&:before, a:before{
		display: none;
	}
	&:hover {
		opacity: 1;
		background: $black;
		color: $white; 
	}
	&:active {
		color: rgba($white, .5);
	}

}