// COVER BLOCKS & BACKGROUNDS

//The cover block content actually has a narrower max width
.wp-block-cover {
	min-height: 42rem;
	padding: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;

	@include internet-explorer-only {
		height: 42rem;
	}

	&.tall {
		min-height: 60rem;

		@include internet-explorer-only {
			height: 60rem;
		}

		&.very {
			min-height: 80rem;

			@include internet-explorer-only {
				height: 80rem;
			}
		}
	}

	&.is-style-tall-cover {
		min-height: 36rem;
		display: flex;
		align-items: flex-end;

		@include medium-small-screen-up {
			min-height: 62rem;
		}

		.wp-block-cover__inner-container {
			@include medium-small-screen-up {
				margin-top: auto;
				margin-bottom: 12rem;
			}
		}
	}

	&.bottom-aligned {
		align-items: flex-end;

		.wp-block-cover__inner-container {
			margin-bottom: $section-margin;

			@include medium-screen-up {
				margin-bottom: $section-margin-large;
			}
		}
	}

	.wp-block-cover__inner-container {
		width: 100%;
		padding: 0 2.4rem;

		h1, h2 {
			max-width: inherit;
		}
	}

	.breadcrumbs {
		.crumb {
			display: inline-block !important;

			a {
				letter-spacing: 0.35rem;
			}

			&:after {
				content: '/';
				display: inline-block;
				padding: 0 0.8rem;
			}
		}
	}
}

.wp-block-cover,
.wp-block-cover {
	@include internet-explorer-only {
		width: inherit;

		&.main-cta,
		&.alignfull {
			width: 100vw !important;
		}
	}

}

body.single {
	article > header.wp-block-cover {
		margin-bottom: $section-margin;
	}
}
