// OBJECTS - EYEBROWS


// Eyebrow
.eyebrow,
.is-style-eyebrow {
	position: relative;
	display: block;
	text-transform: uppercase;
	color: $black;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2.0rem;
	margin-bottom: $default-margin;
	font-family: $fonts-secondary;
	letter-spacing: 0.1rem;
	padding: 0;

	// Tablet
	@include small-screen-up {
	}

	// Desktop/Full
	@include medium-screen-up {
		//
	}
}

.wp-block-cover {
	.is-style-eyebrow,
	.eyebrow {
		color: inherit;
	}
}
