// ELEMENTS - HEADINGS



// Heading Defaults
#{$headings} {
	font-family: $fonts-secondary;
	color: $black;
	font-weight: 400;
}


// Heading Level 1
h1, .h1, #main .h1 {
	font-size: var(--h1);
	line-height: var(--h1-lh);
}
// Heading Level 2
h2, .h2 {
	font-size: var(--h2);
	line-height: var(--h2-lh);
	&.large, &.is-style-large{
		font-size: calc(var(--h2) + 1.8rem);
		@include medium-screen-up {
			font-size: calc(var(--h2) + 3rem);
			line-height: calc(var(--h2-lh) + 3.8rem);
		}
	}
}
// Heading Level 3
h3, .h3 {
	font-size: var(--h3);
	line-height: var(--h3-lh);
	// Desktop/Full
	@include medium-screen-up {
		margin-bottom: calc(#{$default-margin} / 2);
	}
}
// Heading Level 4
h4, .h4 {
	font-size: var(--h4);
	line-height: var(--h4-lh);
	// Tablet
	@include small-screen-up {
		margin-bottom: calc(#{$default-margin} / 2);
	}
}
// Heading Level 5
h5, .h5 {
	font-size: var(--h5);
	line-height: var(--h5-lh);
	// Tablet
	@include small-screen-up {
		margin-bottom: calc(#{$default-margin} / 2);
	}
}
// Heading Level 6
h6, .h6 {
	font-size: 1.8rem;
	line-height: 2.1rem;
	margin-bottom: calc(#{$default-margin} / 2);
}