// ELEMENTS - PAGE

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;

	font-size: 62.5%;
	box-sizing: border-box;
	word-wrap: normal;
}
// Firefox specifc rule
@-moz-document url-prefix() {
	body {
		font-weight: lighter !important;
	}
}

body {
	font-family: $fonts-main;
	font-weight: 400;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $dark-grey;
	// counter-reset: section;

	@include medium-screen-up {
		font-size: $tablet-font-size;
	}
	@include large-screen-up {
		font-size: $desktop-font-size;
	}
}

#{$block-text} {
	margin-bottom: $default-margin;

	&:last-child {
		margin-bottom: 0;
	}
}


p, .p {
	// &:last-child {
	// 	margin-bottom: 0;
	// }
}

.lead, .has-lead-font-size {
	display: block; //Otherwise the line height won't work
	font-size: 2.0rem;

	@include medium-screen-up {
		font-size: 2.2rem;
	}
	@include large-screen-up {
		font-size: 2.4rem;
	}
}

/**
 * Inline elements
 */


small, .small, .has-small-font-size {
	display: block; //Otherwise the line height won't work
	font-size: 1.4rem;

	@include medium-screen-up {
		font-size: 1.5rem;
		line-height: 1.375;
	}
	@include large-screen-up {
		font-size: 1.6rem;
	}
}

strong, .strong, b {
	font-weight: 600;
}

em, .em {
	font-style: italic;
}

sup, .sup {
	vertical-align: super;
	font-size: smaller;
}

sub, .sub {
	vertical-align: sub;
	font-size: smaller;
}

u {
	//
}

del {
	//
}

ins {
	//
}

abbr {
	//
}

q {
	//
}

cite {
	//
}

mark {
	//
}

var {
	//
}

time {
	//
}



// Code
kbd, code, samp, pre {
	margin: 0px 1em 1em 1em;
    font-family: 'Monaco', 'Monaco', monospace;
    white-space: pre;
    font-size: smaller;
}

// Images
img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0 auto 1.5rem;
	max-width: 100%;

	img {
		//
	}

	figcaption {
		//
	}

	&.aligncenter {
		figcaption {
			text-align: center;
		}
	}

	&.alignleft {
		figcaption {
			text-align: left;
		}
	}

	&.alignright {
		figcaption {
			text-align: right;
		}
	}
}

svg {
	//
}

// Multimedia
audio {
	//
}

video {
	//
}

// Misc
meter {
	//
}

progress {
	//
}

iframe {
	//
}
