// OBJECTS - SECTIONS
.site-content {
	overflow: hidden;
}
//Standard widths for layout elements
.wp-block-group,
.wp-block-cover,
.wp-block-columns {
	max-width: $cover-width;
	margin-left: auto;
	margin-right: auto;

	&.alignnarrow {
		max-width: $narrow-width;
	}

	&.alignwide {
		max-width: $wide-width;
	}

	&.alignfull {
		max-width: 100%;
	}

	//Everything within is fluid
	* {
		width: 100%;
	}

	//Background padding?
	&.has-background {
		padding-top: 4rem;
		padding-bottom: 4rem;
		padding-left: 4rem;
		padding-right: 4rem;

		// @include medium-screen-up {
		// 	padding-top: 8rem;
		// 	padding-bottom: 8rem;
		// 	padding-left: 8rem;
		// 	padding-right: 8rem;
		// }
	}
}

//Padding for top-level elements
#main,
.final-cta,
.related-resources {
	> * {
		padding-left: $row-margin;
		padding-right: $row-margin;
		max-width: calc(#{$cover-width} + (#{$row-margin} * 2));

		&.alignnarrow {
			max-width: calc(#{$narrow-width} + (#{$row-margin} * 2));
		}

		&.alignwide {
			max-width: calc(#{$wide-width} + (#{$row-margin} * 2));
		}

		&.alignfull {
			max-width: 100%;
		}
	}
}

// Top level content spacing
#main > .container,
#main > .post > .container,
#main > .wp-block-group,
#main > .wp-block-cover,
#main > .wp-block-columns {
	padding-left: $row-margin;
	padding-right: $row-margin;
	margin-bottom: $section-margin;

	// Desktop/Full
	@include medium-screen-up {
		margin-bottom: $section-margin-large;
	}

	&.no-margin {
		margin-bottom: 0;
	}

	&.low-margin {
		margin-bottom: 4.8rem;
	}

	&.is-padded {
		padding-top: $section-margin;
		padding-bottom: $section-margin;

		// Desktop/Full
		@include medium-screen-up {
			padding-top: $section-margin-large;
			padding-bottom: $section-margin-large;
		}
	}
}

.wp-block-group,
.wp-block-cover,
.wp-block-columns,
.wp-block-column {
	&.no-margin {
		margin-bottom: 0;
	}

	&.no-mobile-margin {
		@include single-column-max {
			margin-bottom: 0 !important;
		}
	}
}

// Inside content spacing
.alignwide,
.container,
// Deprecated inner groups
.wp-block-group .wp-block-group__inner-container,
.wp-block-cover .wp-block-cover__inner-container,
// Add a new inner group block if needed and add the class
.wp-block-group.wp-block-group__inner-container  {
	// width: 100%;
	// max-width: $max-width;
	margin: 0 auto;

	> .wp-block-group,
	> .wp-block-cover,
	> .wp-block-columns {
		margin-bottom: $row-margin;

		// Desktop/Full
		@include medium-screen-up {
			margin-bottom: $row-margin-large;
		}

		&.no-margin {
			margin-bottom: 0;
		}

		// Should only be used
		&.top-margin {
			margin-top: $row-margin;

			// Desktop/Full
			@include medium-screen-up {
				margin-top: $row-margin-large;
			}

		}
	}
}
