@charset "UTF-8";

/**
 * Admin Styles for the Gutenberg Editor
 */

.has-smaller-font-size {
  font-size: 1.6rem;
}

.has-small-font-size {
  font-size: 1.7rem;
}

.has-regular-font-size {
  font-size: 1.9rem;
}

.has-large-font-size {
  font-size: 1.9rem;
}

#page .has-white-color {
  color: #ffffff;
}

#page .has-white-background-color {
  background-color: #ffffff;
}

#page .has-black-color {
  color: #000000;
}

#page .has-black-background-color {
  background-color: #000000;
}

#page .has-dark-grey-color {
  color: #4b4b4b;
}

#page .has-dark-grey-background-color {
  background-color: #4b4b4b;
}

#page .has-grey-color {
  color: #9e9e9e;
}

#page .has-grey-background-color {
  background-color: #9e9e9e;
}

#page .has-light-grey-color {
  color: #e5e5e5;
}

#page .has-light-grey-background-color {
  background-color: #e5e5e5;
}

.wp-block:not(.editor-post-title) {
  width: 100%;
}

.wp-block:not(.editor-post-title).wp-block-group,
.wp-block:not(.editor-post-title).wp-block-cover,
.wp-block:not(.editor-post-title).wp-block-columns {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=narrow] {
  max-width: 100%;
}

.wp-block[data-align=narrow] > .wp-block-group {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=wide] {
  max-width: 100%;
}

.wp-block[data-align=wide] > .wp-block-group,
.wp-block[data-align=wide] > .wp-block-cover,
.wp-block[data-align=wide] > .wp-block-columns {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=full] {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.wp-block[data-align=full] > .wp-block-group,
.wp-block[data-align=full] > .wp-block-cover,
.wp-block[data-align=full] > .wp-block-columns {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group .wp-block:not([data-align]):not(.wp-block-group):not(.wp-block-cover):not(.wp-block-columns) {
  max-width: 100%;
}

.slider-block {
  padding: 1rem;
  background: #f3f3f3;
  margin-bottom: 1rem;
  border-radius: 0 !important;
  min-height: 16rem;
}

.slider-block .wp-block-quote {
  border-left: 0 solid #000;
}

.slider-block .row {
  margin-bottom: 4rem;
}

.slider-block.baytek_carousel-slider {
  background: #f3f3f3;
  padding: 1rem;
  border-radius: 0 !important;
  margin-bottom: 1rem;
  min-height: 16rem;
}

.wp-block-theme-blocks-slider {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.wp-block-theme-blocks-slider .slider-block {
  background: #fafafa;
  border-radius: 0.4rem;
  border: 1px solid #cacaca;
  padding: 2rem;
  position: relative;
}

.wp-block-theme-blocks-slider .slider-block .insert-slide {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content-plain-text {
  min-height: 70px !important;
}

button.add-more-slides {
  height: 35px;
  width: 35px;
  background: #939393;
  position: relative;
  border: none;
  font-size: 2em;
  color: white;
  line-height: 1;
}

span.remove-slide {
  right: 1rem;
  top: 1rem;
  position: absolute;
  height: 1rem;
  width: 1rem;
}

span.remove-slide i {
  height: 1rem;
  width: 1rem;
}

textarea.block-editor-plain-text.content-plain-text,
textarea.block-editor-plain-text,
textarea.block-editor-plain-text.link-plain-text {
  background: #fafafa;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5rem;
}

.slide__image__wrapper {
  position: relative;
}

.slide__image__wrapper .slide__image__inner {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide__image__wrapper a {
  cursor: pointer;
}

.slide__image__wrapper .slide__image__wrapper__actions {
  position: absolute;
  bottom: 1rem;
  left: 0;
  font-size: 0.8em;
  text-align: center;
}

.slide__image__inner {
  display: block;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
}

.wp-block-theme-blocks-toggle {
  margin-bottom: 1em;
  border-bottom: 2px solid;
  border: 1px solid;
}

.wp-block-theme-blocks-toggle .toggle-header {
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  border-bottom: 0.1rem solid;
}

.wp-block-theme-blocks-toggle .toggle-header:after {
  position: absolute;
  right: 1rem;
  top: calc(100% - 3rem);
  font-size: 1.6rem;
  background-image: none;
  transition: transform 0.2s ease;
  content: "\F107";
  font-weight: 400;
  font-family: "Font Awesome 5 Pro";
  color: black;
}

.wp-block-theme-blocks-toggle .toggle-header p {
  padding: 1rem;
  margin: 0;
}

.wp-block-theme-blocks-toggle .block-editor-inner-blocks {
  padding: 1rem;
}

.bod-form {
  color: #000000;
  margin: 0 auto;
  max-width: 740px;
  padding: 0;
}

.bod-form .bod-form-row {
  width: 100%;
  box-sizing: border-box;
}

.bod-form .bod-form-row .bod-col-sm-6 {
  padding: 0 15px 15px;
  width: 50%;
  float: left;
}

.bod-form .bod-form-row:after {
  content: "";
  display: table;
  clear: both;
}

.bod-form .my-tab-panel {
  border: 1px solid #dadada;
  padding: 0;
}

.bod-form .my-tab-panel .components-tab-panel__tabs {
  background-color: #F8F8F8;
  border: 1px solid #dadada;
}

.bod-form .my-tab-panel .components-tab-panel__tabs button {
  background-color: #F5F5F5;
  border: none;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
}

.bod-form .my-tab-panel .components-tab-panel__tabs button:hover {
  background-color: white;
  border: none;
}

.bod-form .my-tab-panel .components-tab-panel__tabs .active-tab,
.bod-form .my-tab-panel .components-tab-panel__tabs button:hover.active-tab {
  border-bottom: 3px solid #06F;
}

.bod-form .my-tab-panel .components-tab-panel__tab-content {
  padding: 0 0.5rem;
  background-color: white;
}

.bod-form label {
  font-weight: bold;
  margin: 0.5rem 0 0.25rem;
}

.bod-form .editor-plain-text {
  border: 1px solid #dadada;
  padding: 0 0.25rem;
}

.bod-form .bod-form-innerblock {
  background-color: #DFDFBF;
  border: 1px solid #dadada;
  padding: 0 0.25rem;
}

.bod-form .bod-trigger-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 2px #dadada;
  display: block;
}

.bod-form .bod-trigger-image-container:hover {
  border: solid 4px #dadada;
}

.bod-form .bod-trigger-image-container:hover img {
  opacity: 0.3;
}

.bod-form .bod-trigger-image-container:after {
  content: "+";
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bod-form .bod-trigger-image-container img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.bod-form .hide {
  display: none;
}

@media (max-width: 400px) {
  .bod-col-sm-6 {
    width: 100%;
    float: none;
  }
}

button:not(.components-button),
.button,
input[type=submit],
input[type=button],
input[type=reset],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit],
.wp-block-buttons:not(.view-more) .wp-block-button .wp-block-button__link {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: inline-block;
  padding: 1.6rem 4rem;
  line-height: 2rem;
  text-align: center;
  background: #000000;
  border: 0.2rem solid #000000;
  border-radius: 5rem;
  color: #ffffff;
  font-family: "Source Serif Pro", "Palatino", serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-out;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

button:not(.components-button):before,
button:not(.components-button) a:before,
.button:before,
.button a:before,
input[type=submit]:before,
input[type=submit] a:before,
input[type=button]:before,
input[type=button] a:before,
input[type=reset]:before,
input[type=reset] a:before,
.gform_wrapper .gform_footer input.button:before,
.gform_wrapper .gform_footer input.button a:before,
.gform_wrapper .gform_footer input[type=submit]:before,
.gform_wrapper .gform_footer input[type=submit] a:before,
.gform_wrapper .gform_page_footer input.button:before,
.gform_wrapper .gform_page_footer input.button a:before,
.gform_wrapper .gform_page_footer input[type=submit]:before,
.gform_wrapper .gform_page_footer input[type=submit] a:before,
.wp-block-buttons:not(.view-more) .wp-block-button .wp-block-button__link:before,
.wp-block-buttons:not(.view-more) .wp-block-button .wp-block-button__link a:before {
  display: none;
}

button:not(.components-button):hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover,
.wp-block-buttons:not(.view-more) .wp-block-button .wp-block-button__link:hover {
  opacity: 1;
  background: #000000;
  color: #ffffff;
}

button:not(.components-button):active,
.button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
.gform_wrapper .gform_footer input.button:active,
.gform_wrapper .gform_footer input[type=submit]:active,
.gform_wrapper .gform_page_footer input.button:active,
.gform_wrapper .gform_page_footer input[type=submit]:active,
.wp-block-buttons:not(.view-more) .wp-block-button .wp-block-button__link:active {
  text-decoration: underline;
}

.wp-block-buttons:not(.view-more) .wp-block-button.is-style-outline .wp-block-button__link {
  border: 0.2rem solid #e5e5e5;
  background: transparent;
  color: #e5e5e5;
}

.wp-block-buttons:not(.view-more) .wp-block-button.is-style-outline .wp-block-button__link:hover {
  background: #e5e5e5;
  color: #ffffff;
}

.wp-block-button .wp-block-button__link {
  font-size: 14px !important;
  padding: 16px 40px !important;
  line-height: 20px !important;
}

.view-more .wp-block-button__link {
  padding: 5px 10px !important;
  background-color: rgba(0, 0, 0, 0.1);
}

.view-more .wp-block-button__link:before {
  bottom: calc(100% - 30px);
}

.eyebrow,
.is-style-eyebrow {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #9e9e9e;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0;
}

@media (min-width: 480px) {
  .eyebrow,
  .is-style-eyebrow {
    font-size: 1.4rem;
  }
}

.wp-block-cover .is-style-eyebrow,
.wp-block-cover .eyebrow {
  color: inherit;
}

h2.is-style-eyebrow,
.h2.is-style-eyebrow,
h2.eyebrow:after,
.h2.eyebrow:after {
  display: none;
}


/*# sourceMappingURL=bundle-editor.css.map*/