/**
 * Admin Styles for the Gutenberg Editor
 */
.has-smaller-font-size {
  font-size: 1.4rem;
}

.has-small-font-size {
  font-size: 1.6rem;
}

.has-regular-font-size {
  font-size: 1.9rem;
}

.has-large-font-size {
  font-size: 2.4rem;
}

#page .has-white-color {
  color: #ffffff;
}
#page .has-white-background-color {
  background-color: #ffffff;
}

#page .has-black-color {
  color: #000000;
}
#page .has-black-background-color {
  background-color: #000000;
}

#page .has-dark-grey-color {
  color: #4b4b4b;
}
#page .has-dark-grey-background-color {
  background-color: #4b4b4b;
}

#page .has-grey-color {
  color: #9e9e9e;
}
#page .has-grey-background-color {
  background-color: #9e9e9e;
}

#page .has-light-grey-color {
  color: #e5e5e5;
}
#page .has-light-grey-background-color {
  background-color: #e5e5e5;
}

.wp-block:not(.editor-post-title) {
  width: 100%;
}
.wp-block:not(.editor-post-title).wp-block-group, .wp-block:not(.editor-post-title).wp-block-cover, .wp-block:not(.editor-post-title).wp-block-columns {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=narrow] {
  max-width: 100%;
}
.wp-block[data-align=narrow] > .wp-block-group {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=wide] {
  max-width: 100%;
}
.wp-block[data-align=wide] > .wp-block-group,
.wp-block[data-align=wide] > .wp-block-cover,
.wp-block[data-align=wide] > .wp-block-columns {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=full] {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wp-block[data-align=full] > .wp-block-group,
.wp-block[data-align=full] > .wp-block-cover,
.wp-block[data-align=full] > .wp-block-columns {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group .wp-block:not([data-align]):not(.wp-block-group):not(.wp-block-cover):not(.wp-block-columns) {
  max-width: 100%;
}

.wp-block-theme-blocks-slider {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.wp-block-theme-blocks-slider .slider-block {
  background: #ffffff;
  border-radius: 0.4rem;
  border: 1px solid #cacaca;
  padding: 1rem;
  position: relative;
}
.wp-block-theme-blocks-slider .slider-block .insert-slide {
  margin-top: 0;
  margin-bottom: 1rem;
}
.wp-block-theme-blocks-slider .slider-block .content-plain-text {
  min-height: 12rem !important;
  resize: vertical !important;
  overflow: auto;
}
.wp-block-theme-blocks-slider .slider-block .button-link {
  cursor: inherit;
}
.wp-block-theme-blocks-slider .slider-block span.remove-slide {
  right: 1rem;
  top: 1rem;
  position: absolute;
  height: 1rem;
  width: 1rem;
}
.wp-block-theme-blocks-slider .slider-block span.remove-slide i {
  height: 1rem;
  width: 1rem;
}
.wp-block-theme-blocks-slider .slider-block textarea.block-editor-plain-text.content-plain-text,
.wp-block-theme-blocks-slider .slider-block textarea.block-editor-plain-text,
.wp-block-theme-blocks-slider .slider-block textarea.block-editor-plain-text.link-plain-text {
  background: #fafafa;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5rem;
}
.wp-block-theme-blocks-slider .slider-block .slide__image__wrapper {
  position: relative;
}
.wp-block-theme-blocks-slider .slider-block .slide__image__wrapper a {
  cursor: pointer;
  color: #ffffff;
}
.wp-block-theme-blocks-slider .slider-block .slide__image__wrapper a svg {
  fill: #ffffff;
}
.wp-block-theme-blocks-slider .slider-block .slide__image__wrapper .slide__image__inner {
  height: 8rem;
  width: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #027cba;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-block-theme-blocks-slider .slider-block .slide__image__wrapper .slide__image__wrapper__actions {
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 0.8em;
  text-align: center;
}
.wp-block-theme-blocks-slider button.add-more-slides {
  height: 22px;
  width: 100%;
  padding: 1.8rem;
  border-radius: 0.5rem;
  background: #027cba;
  position: relative;
  border: none;
  font-size: 2em;
  color: white;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-block-theme-blocks-toggle {
  margin-bottom: 1em;
  border-bottom: 2px solid;
  border: 1px solid;
}
.wp-block-theme-blocks-toggle .toggle-header {
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  border-bottom: 0.1rem solid;
}
.wp-block-theme-blocks-toggle .toggle-header:after {
  position: absolute;
  right: 1rem;
  top: calc(100% - 3rem);
  font-size: 1.6rem;
  background-image: none;
  transition: transform 0.2s ease;
  content: "\f107";
  font-weight: 400;
  font-family: "Font Awesome 5 Pro";
  color: black;
}
.wp-block-theme-blocks-toggle .toggle-header p {
  padding: 1rem;
  margin: 0;
}
.wp-block-theme-blocks-toggle .block-editor-inner-blocks {
  padding: 1rem;
}

.baytek-form-outer {
  padding: 2.4rem;
  border: 1px solid #000000;
}
.baytek-form-outer h2 {
  margin-top: 0;
}
.baytek-form-outer .baytek-form {
  color: #000000;
  margin: 0 auto;
}
.baytek-form-outer .baytek-form .baytek-form-row {
  width: 100%;
  box-sizing: border-box;
}
.baytek-form-outer .baytek-form .block-editor-plain-text {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding-left: 0.2rem;
}
.baytek-form-outer .baytek-form label {
  font-weight: bold;
}
.baytek-form-outer .baytek-form .hide {
  display: none;
}

button:not(.components-button), .button,
input[type=submit],
input[type=button],
input[type=reset],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit],
.wp-block-button .wp-block-button__link {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: inline-block;
  padding: 1.6rem 4rem;
  line-height: 2rem;
  text-align: center;
  background: #000000;
  border: 0.2rem solid #000000;
  border-radius: 5rem;
  color: #ffffff;
  font-family: "Source Serif Pro", serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-out;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
button:not(.components-button):before, button:not(.components-button) a:before, .button:before, .button a:before,
input[type=submit]:before,
input[type=submit] a:before,
input[type=button]:before,
input[type=button] a:before,
input[type=reset]:before,
input[type=reset] a:before,
.gform_wrapper .gform_footer input.button:before,
.gform_wrapper .gform_footer input.button a:before,
.gform_wrapper .gform_footer input[type=submit]:before,
.gform_wrapper .gform_footer input[type=submit] a:before,
.gform_wrapper .gform_page_footer input.button:before,
.gform_wrapper .gform_page_footer input.button a:before,
.gform_wrapper .gform_page_footer input[type=submit]:before,
.gform_wrapper .gform_page_footer input[type=submit] a:before,
.wp-block-button .wp-block-button__link:before,
.wp-block-button .wp-block-button__link a:before {
  display: none;
}
button:not(.components-button):hover, .button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover,
.wp-block-button .wp-block-button__link:hover {
  opacity: 1;
  background: #000000;
  color: #ffffff;
}
button:not(.components-button):active, .button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
.gform_wrapper .gform_footer input.button:active,
.gform_wrapper .gform_footer input[type=submit]:active,
.gform_wrapper .gform_page_footer input.button:active,
.gform_wrapper .gform_page_footer input[type=submit]:active,
.wp-block-button .wp-block-button__link:active {
  text-decoration: underline;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 0.2rem solid #000000;
  background: transparent;
  color: #000000;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background: #000000;
  color: #ffffff;
}

.wp-block-button .wp-block-button__link {
  font-size: 14px !important;
  padding: 16px 40px !important;
  line-height: 20px !important;
}

.view-more .wp-block-button__link {
  padding: 5px 10px !important;
  background-color: rgba(0, 0, 0, 0.1);
}
.view-more .wp-block-button__link:before {
  bottom: calc(100% - 30px);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.015625rem;
  line-height: 1.25;
}

h1, .h1, #main .ht {
  font-size: 1.875rem;
  font-weight: 400;
}
@media (min-width: 480px) {
  h1, .h1, #main .ht {
    font-size: 3rem;
  }
}
@media (min-width: 980px) {
  h1, .h1, #main .ht {
    font-size: 4.375rem;
  }
}

h2, .h2 {
  font-size: 1.625rem;
  font-weight: 400;
}
@media (min-width: 480px) {
  h2, .h2 {
    font-size: 2.375rem;
  }
}
@media (min-width: 980px) {
  h2, .h2 {
    font-size: 3.25rem;
  }
}
h2:after, .h2:after {
  display: block;
  content: "";
  margin-top: 0.625rem;
  width: 4rem;
  height: 0.125rem;
  background: #000000;
}
h2.has-text-align-center:after, .h2.has-text-align-center:after {
  margin-left: auto;
  margin-right: auto;
}
h2.has-text-align-right:after, .h2.has-text-align-right:after {
  margin-left: auto;
}
h2.has-no-line:after, .h2.has-no-line:after {
  display: none;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 480px) {
  h3, .h3 {
    font-size: 1.875rem;
  }
}
@media (min-width: 980px) {
  h3, .h3 {
    font-size: 1.625rem;
  }
}

h4, .h4 {
  font-size: 1.375rem;
  font-weight: 400;
}
@media (min-width: 480px) {
  h4, .h4 {
    font-size: 1.625rem;
  }
}
@media (min-width: 980px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
@media (min-width: 480px) {
  h5, .h5 {
    font-size: 1.375rem;
  }
}
@media (min-width: 980px) {
  h5, .h5 {
    font-size: 1.25rem;
  }
}

h6, .h6 {
  font-size: 1.25rem;
}

.eyebrow,
.is-style-eyebrow {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0;
}
.wp-block-cover .is-style-eyebrow,
.wp-block-cover .eyebrow {
  color: inherit;
}

/*# sourceMappingURL=bundle-editor.css.map*/