// TOOLS - UTILITY MIXINS

// Box Shadow
@mixin shadow($dX: 0, $dY: .5rem, $blur: 1rem, $spread: 0, $color: rgba($black, .66), $inset: false) {
  @if $inset {
    box-shadow:inset $dX $dY $blur $spread $color;
  } @else {
    box-shadow: $dX $dY $blur $spread $color;
  }
}

// Text Shadow
@mixin text-shadow($x: 0, $y: .5rem, $blur: 1rem, $color: rgba($black, .66)) {
    text-shadow: $x $y $blur $color;
}

// Transition - Keep a consistant transition across the site
@mixin transition($duration: 0.2s) {
  transition: all $duration ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

// Conversion specific to Adobe XD for those that don't know the unit conversion
@mixin xdLetterSpacing($xdSize){
	letter-spacing: ($xdSize/1000) + 0em;
}

@mixin screenReaderText(){
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	position: absolute;
	height: 0.1rem;
	width: 0.1rem;
	overflow: hidden;
}

$font-gutter: 2rem;
@mixin iconFontAwesome($content: '\f054', $icon-size: 1.4rem, $font-weight: 300, $right: 2rem, $top: calc(100% - 3.4rem), $color: $fc-gold) {
  &:after {
    display: inline-block;
    font-family: "Font Awesome 5 Pro";
    content: $content;
    position: absolute;
    top: $top;
    right: $right;
    z-index: 5;
    font-size: $icon-size;
    font-weight: $font-weight;
    color: $color;
    @include transition;

    pointer-events: none;   
  }
}