// ELEMENTS - HEADINGS



// Heading Defaults
#{$headings} {
	font-family: $fonts-secondary;
	color: $black;
	text-transform: uppercase;
	letter-spacing: calcScreenRem(0.025rem);
	line-height: 1.25;
}


// Heading Level 1
h1, .h1, #main .ht {
	font-size: calcScreenRem(3.0rem);
	font-weight: 400;

	// Tablet
	@media (min-width: $tiny-width) {
		font-size: calcScreenRem(4.8rem);
	}

	// Desktop/Full
	@media (min-width: $large-width) {
		font-size: calcScreenRem(7.0rem);
	}
}
// Heading Level 2
h2, .h2 {
	font-size: calcScreenRem(2.6rem);
	font-weight: 400;

	// Tablet
	@media (min-width: $tiny-width) {
		font-size: calcScreenRem(3.8rem);
	}

	// Desktop/Full
	@media (min-width: $large-width) {
		font-size: calcScreenRem(5.2rem);
	}

	&:after {
		display: block;
		content: '';
		margin-top: calcScreenRem(1.0rem);
		width: calcScreenRem(6.4rem);
		height: calcScreenRem(0.2rem);
		background: $black;
	}

	&.has-text-align-center:after {
		margin-left: auto;
		margin-right: auto;
	}
	&.has-text-align-right:after {
		margin-left: auto;
	}
	&.has-no-line:after {
		display: none;
	}
}
// Heading Level 3
h3, .h3 {
	font-size: calcScreenRem(2.4rem);
	font-weight: 600;

	// Tablet
	@media (min-width: $tiny-width) {
		font-size: calcScreenRem(3.0rem);
	}

	// Desktop/Full
	@media (min-width: $large-width) {
		font-size: calcScreenRem(2.6rem);
	}
}
// Heading Level 4
h4, .h4 {
	font-size: calcScreenRem(2.2rem);
	font-weight: 400;

	// Tablet
	@media (min-width: $tiny-width) {
		font-size: calcScreenRem(2.6rem);
	}

	// Desktop/Full
	@media (min-width: $large-width) {
		font-size: calcScreenRem(2.4rem);
	}
}
// Heading Level 5
h5, .h5 {
	font-size: calcScreenRem(2.0rem);
	font-weight: 600;

	// Tablet
	@media (min-width: $tiny-width) {
		font-size: calcScreenRem(2.2rem);
	}

	// Desktop/Full
	@media (min-width: $large-width) {
		font-size: calcScreenRem(2.0rem);
	}
}
// Heading Level 6
h6, .h6 {
	font-size: calcScreenRem(2.0rem);
}
