
// Editor modal

$border-color: #000000;
$field-indent: 2.4rem;

.baytek-form-outer{
	padding: $field-indent;
  border: 1px solid $border-color;
  h2{
  	margin-top: 0;
  }
	.baytek-form  {
	  color: $black;
	  margin: 0 auto;

	  .baytek-form-row {
			width: 100%;
			box-sizing: border-box;
	  }

	  .block-editor-plain-text{
	  	background-color: rgba($border-color, 0.1);
	  	border-radius:0;
	  	padding-left: 0.2rem;
	  }
	  
	  label {
		  font-weight:bold;
	  }

	  .hide {
			display: none;
	  }

	}
}