// Editor Slider Styling
.wp-block-theme-blocks-slider{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
	.slider-block {
		background: #ffffff;
		border-radius: .4rem;
		border: 1px solid #cacaca;
		padding: 1rem;
		position: relative;
		.insert-slide{
			margin-top:0;
			margin-bottom:1rem;
		}
		.content-plain-text {
			min-height: 12rem !important;
			resize: vertical !important;
    		overflow: auto;
		}
		.button-link{
			cursor: inherit;
		}
		span.remove-slide {
			right: 1rem;
			top: 1rem;
			position: absolute;
			height: 1rem;
			width: 1rem;
			i{
				height: 1rem;
				width: 1rem;
			}
		}
		textarea.block-editor-plain-text.content-plain-text,
		textarea.block-editor-plain-text,
		textarea.block-editor-plain-text.link-plain-text {
			background: #fafafa;
			border: 1px solid #dadada;
			border-radius: 0;
			padding:0.5rem;
		}
		.slide__image__wrapper {
			position: relative;
			a {
				cursor: pointer;
				color: #ffffff;
				svg{
					fill: #ffffff;
				}
			}
			.slide__image__inner{
				height: 8rem;
				width: 8rem;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.slide__image__wrapper__actions {
			    position: absolute;
			    top: 0;
			    left: 0.5rem;
			    font-size: 0.8em;
			    text-align: center;
			}
		}
		.slide__image__inner {
			display: block;
			cursor: pointer;
			line-height: 100px;
			text-align: center;
		}
	}
	button.add-more-slides {
		height: 22px;
	    width: 100%;
	    padding: 1.8rem;
	    border-radius: 0.5rem;
	    background: #027cba;
	    position: relative;
	    border: none;
	    font-size: 2em;
	    color: white;
	    line-height: 1;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}
