// OBJECTS - EYEBROWS


// Eyebrow
.eyebrow, #main .eyebrow {
	position: relative;
	display: block;
	text-transform: uppercase;
	color: $terracotta;
	font-weight: 500;
	font-size: calcScreenRem(1.6rem);
	line-height: calcScreenRem(2.0rem);
	margin-bottom: $admin-default-margin;
	letter-spacing: calcScreenRem(0.1rem);
	padding: 0;

	// Tablet
	@media only #{$small-screen} {
		//
	}

	// Desktop/Full
	@media only #{$medium-screen} {
		//
	}
}

#main .wp-block-cover .eyebrow {
	color: inherit;
}

h2.eyebrow:after,
.h2.eyebrow:after {
	display: none;
}
