// SETTINGS - GLOBAL

// Front End Theme Global Variables
@import "../../styles/settings/global";

// Admin Only Global Variables

// Body font sizing
$admin-base-font-size: calcScreenRem($base-font-size);
$admin-base-line-height: $base-line-height;
$admin-tablet-font-size: calcScreenRem($tablet-font-size);
$admin-desktop-font-size: calcScreenRem($desktop-font-size);
