// SETTINGS - GLOBAL

// Front End Theme Global Variables
// @import "../../public/styles/settings/global";
@import "../../../public/styles/1_setup/fonts";

// Admin Only Global Variables

// Body font sizing
$admin-base-font-size: calcScreenRem($base-font-size);
$admin-base-line-height: $base-line-height;
$admin-desktop-font-size: calcScreenRem($desktop-font-size);
