// SETTINGS - LAYOUT


// Front End Theme Layout Variables - If Needed
// @import "../../styles/settings/layout";
@import "../../../public/styles/1_setup/spacing";
@import "../../../public/styles/2_tools/breakpoint-mixins";

// Admin Layout Variables
// Normalizing all the Front End Spacing for Gutenberg


// Main Content Spacing
$admin-default-margin: calcScreenRem($default-margin);

// Section/Row Spacing
$admin-row-margin: calcScreenRem($row-margin);
$admin-row-margin-large: calcScreenRem($row-margin-large);
$admin-section-margin: calcScreenRem($section-margin);
$admin-section-margin-large: calcScreenRem($section-margin-large);


// ADMIN SPECIFIC SCREEN & CONTENT BREAKPOINTS
$admin-content-width: calcScreenRem($content-width);

